:root {
    --primary-color:rgba(33, 116, 131, 0.445);
    --overlay-color: rgba(82, 119, 185, 0.514);
    --menu-speed: 0.75s;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    overflow-x: hidden !important;
    width: 100%;
    height: 100%;
    max-width: 100vw;
}
.menu-wrap ul{
    list-style: none;
}
.menu-wrap .toggler{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 6;
}
.nav-bar li{
    display: inline;
}
.nav-bar{
    position: absolute;
    z-index: 5;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: left;
    width:100vw;
    padding: 50px;
    border-bottom:2px solid rgb(248, 248, 248) ;
}
.sticky{
    position: fixed !important;
    top: 0 !important;
    background-color: rgb(184, 235, 255);
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links a{
    margin: 0px 20px 0px 0px;
    color: black;
    z-index: 5;
    font-size: 1.05em;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}
.active{
    border-radius: 20px;
    padding: 10px 15px;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
.nav-links h4{
    font-family: 'Cinzel', serif;
    color: white;
    padding: 10px 30px 10px 10px;
    border-right: 2px solid white;
    margin-left: 10px;
    margin-right: 30px;
}
.nav-links a:hover{
    transition: all 300ms ease;
    border-bottom: 2px solid white;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    border-radius: 10px;
}
@media only screen and (max-width:600px){
    .logo-text{
        transform: scale(0);
    }
    .nav-bar{
        background-color: transparent !important;
        display: flex;
        height: 100%;
        width: 100%;
        border-bottom: none;
    }
    .nav-links a{
        color: white;
        font-size: 1.5em;
        margin: 0px !important;
        overflow: visible !important;
    }
    .nav-links{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: 50%;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .menu-wrap{
        width: 100%;
        position: fixed !important;
        height: 8vh;
        background-color: rgb(125, 167, 247);
        border-bottom: 2px solid rgb(0, 70, 102);
    }
    .menu-wrap .hamburger{ /*the hamburger*/
        position: absolute;
        top: -5px;
        left: 0;
        z-index: 1;
        width: 40px;
        height: 60px;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 0px 0px 15px;
    }
    
    /*Hamburger Line*/
    
    .menu-wrap .hamburger > div{
        position: relative;
        width: 100%;
        height: 5px;
        background-color: rgb(248, 248, 248);
        display: flex;
        align-items: center;
        justify-content: center;
        transition:all 0.4s ease;
    }
    
    
    /*Top and Bottom Lines*/
    .menu-wrap .hamburger > div:before,
    .menu-wrap .hamburger > div:after{
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 5px;
        background: inherit;
    }
    
    .menu-wrap .hamburger > div:after{
        top: 10px;
    }
    
    /*Toggle animate*/
    .menu-wrap .toggler:checked + .hamburger > div{/* the + sign is used because you don't wanna style the box itself but the hamburger div*/
        transform: rotate(135deg);
        


    }
    /*Turn Lines into X*/
    .menu-wrap .toggler:checked + .hamburger > div:before, 
    .menu-wrap .toggler:checked + .hamburger > div:after{
        top: 0;
        transform: rotate(90deg);


     
    }
    
    /*Rotate on hover when checked*/
    .menu-wrap .toggler:checked:hover + .hamburger > div{
        transform: rotate(225deg);

    }
    
    /*Show Menu*/
    .menu-wrap .toggler:checked ~ .menu{
        visibility: visible;
    }
    
    .menu-wrap .toggler:checked ~ .menu > div{
        transform: scale(1);
        transition-duration: var(--menu-speed);
    }
    
    .menu-wrap .toggler:checked ~ .menu > div > div{
        opacity: 1;
        transition:opacity 0.4s ease ;
    }
    
    
    .menu-wrap .menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .menu-wrap .menu > div{
        background: var(--overlay-color);
        border-radius: 50%;
        width: 200vw;
        height: 200vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }
    
    .menu-wrap .menu > div > div{
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    }